/*width  : ancho 
text-align: left center right
fontsize: px - em -rem 
1rem = 10px
krub
h1 span 
-------------------------------------------------------------------------------------------
SELECTROES CSS

h1{} SELECCIONA TODO LOS ELEMENTOS

SELECTOR CLASE

.class{}

SELECTOR ID
#class{}

SELECTOR ATRIBUTO
[src="logo.jpg"]]{}

etc-----------------------------------------


ESPECIFICIDAD
CSS es cascasda

Se mostrara por la prioridad que le des



h1.titulo span

.titulo span

span


MAYOR PRIORIDAD
span{color: red!important}

:root{ CUSTOM
--blanco : fffff;
-> color: var(--blanco);
}
*/


html {
font-size: 62.5%;
}
body{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}
.titulo{color: white;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}
.subtitulo{color: brown;}

ul {text-align: right;}

.titulo span{font-size: 2rem;
color: white;}

.propuesta{
    text-align: center;
    color: black;
    font-size: 1.5rem;
    }

 h2{ 
text-align: center;}

.carta {color: brown;
text-align: right;}
.sobreNosotros{
    font-size: 1.5rem;}

.destinos{text-align: right;}
.ulReserva{text-align: right;}
.headerInicio{color: aqua;}